@import url('https://fonts.googleapis.com/css?family=Roboto&Mono&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', sans-serif;
    background-color: #f3bdf3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0 50px;
    padding: 0 40px;
    
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
}

.counter{
    font-size: 60px;
    font-weight: 600;
}


@media (max-width:580px){
    body{
     flex-direction: column;
    }
}